/* Webfont: Foundation */@font-face {
    font-family: 'Foundation';
    src: url('Foundation-Regular.eot'); /* IE9 Compat Modes */
    src: url('Foundation-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Foundation-Regular.woff') format('woff'), /* Modern Browsers */
         url('Foundation-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

